body {
  margin: 0;
  padding: 0;
  font-family: Optima, Segoe, Segoe UI, Candara, Calibri, Arial, sans-serif;
  font-size: 16px;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

.toggle-mode {
  position: fixed;
  top: 15px;
  right: 15px;
  z-index: 999;
  cursor: pointer;
}

footer {
  position:static;
  bottom: 0;
  text-align: center;
}
footer p {
  word-spacing: 0;
  font-size: 1rem;
  padding: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  margin: 80px auto;
  max-width: 800px;
  padding: 30px;
  background-color: var(--content-color);
  border: solid 3px var(--border-color);
}

.image-container {
  flex: 1;
  text-align: center;
  min-width: 200px;
  padding-bottom: 20px;;
}

img {
  border: solid 3px var(--border-color);
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.dark-mode img {
  filter: sepia(100%);
  -webkit-filter: sepia(100%);
}

.light-mode img {
  filter: saturate(3);
  -webkit-filter: saturate(3);
}

.bio-container {
  flex: 1;
  padding: 0 20px;
  min-width: 400px;
}

h1 {
  font-size: 36px;
  margin: 0;
}

p {
  font-size: 1.2rem;
  line-height: 1.6;
  word-spacing: 0.7rem;
  margin-top: 0;
}

.social-icons {
  /* margin-top: 20px; */
  display: flex;
  justify-content:left;
}

.social-icons a {
  /* display: inline-block; */
  /* margin-right: 10px; */
  font-size: 32px; 
  padding-right: 30px;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

a:hover {
  color: var(--border-color);
}


@media only screen and (max-width: 710px) {
  
  .container {
    display: block;
    margin: 0;
    padding: 10px;
  }

  .image-container {
    min-width:unset;
    padding: 0;
  }
  .bio-container {
    min-width:unset;
    text-align: center;
  }
  p {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-size: 1.1rem;
    line-height: 1.4;
    word-spacing: 0rem;
  }

  img {
    width: 150px;
    height: 150px;
  }

.social-icons {
  padding: 10px 20px;
  justify-content: space-between;
  margin: 0;
}

.social-icons a {
  font-size: 42px;
  padding-right: 0;
} 

.toggle-mode {
  top: 14px;
}

h2 {
  margin-top: 0;
}

}