@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: local('Pacifico Regular'), local('Pacifico-Regular'),
    url(https://fonts.gstatic.com/s/pacifico/v12/FwZY7-Qmy14u9lezJ-6H6MmBp0u-.woff2)
      format('woff2');
  font-display: swap;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  font-family: Optima, Segoe, Segoe UI, Candara, Calibri, Arial, sans-serif;
  font-size: 16px;
  background-color: var(--bg-color);
  color: var(--text-color);
  opacity: 0;
}

body.active {
  opacity: 1;
  transition: opacity 1s ease-in-out, background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

.toggle-mode {
  position: fixed;
  top: 15px;
  right: 15px;
  z-index: 999;
  cursor: pointer;
}

footer {
  position: static;
  bottom: 0;
  text-align: center;
}

footer p {
  word-spacing: 0;
  font-size: 1rem;
  padding: 0;
}

.container {
  /* center horizontally and vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  max-width: 800px;
  padding: 30px;
  background-color: var(--content-color);
  border: solid 3px var(--border-color);
}

.image-container {
  flex: 1;
  text-align: center;
  min-width: 200px;
  padding-bottom: 20px;
}

img {
  border: solid 3px var(--border-color);
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.bio-container {
  flex: 1;
  padding: 0 20px;
  min-width: 400px;
}

h1 {
  font-size: 36px;
  margin: 0;
}

p {
  font-size: 1.2rem;
  line-height: 1.6;
  word-spacing: 0.7rem;
  margin-top: 0;
}

.social-icons {
  display: flex;
  justify-content: left;
}

.social-icons a {
  font-size: 32px;
  padding-right: 30px;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

a:hover {
  color: var(--border-color);
}


@media only screen and (max-width: 710px) {

  .container {
    display: block;
    margin: 0;
    padding: 10px;
  }

  .image-container {
    min-width: unset;
    padding: 0;
  }

  .bio-container {
    min-width: unset;
    text-align: center;
  }

  p {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-size: 1.1rem;
    line-height: 1.4;
    word-spacing: 0rem;
  }

  img {
    width: 150px;
    height: 150px;
  }

  .social-icons {
    padding: 10px 20px;
    justify-content: space-between;
    margin: 0;
  }

  .social-icons a {
    font-size: 42px;
    padding-right: 0;
  }

  .toggle-mode {
    top: 14px;
  }

  h2 {
    margin-top: 0;
  }

}